span {
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}

input {
    width: 40%;
    padding: .5rem;
    border-radius: 10px;
    border-color: red;
    border-width: thin;
}

div {
    margin: 1rem 0px;
}

button {
    padding: .5rem 1rem;
    border-radius: 15px;
    background-color: red;
    margin-left: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

legend {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: red
}

.resonse {
    margin-top: 2rem;
}

.errMsgStyle {
    text-align: center;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.25rem;
}

.imageBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 1rem;
}

img {
    width: 150px;
    height: auto;
    margin: 1.5rem;
}